{% extends 'base.html'%}

{% block content %}
        {% if user.is_authenticated %}
        안녕하세요 {{user.nickname}}님!
        <p><em>메뉴를 선택해주세요!</em></p> 
        {% endif %}
        {% if not user.is_authenticated %}
        <p><em>다양한 기능을 사용하시려면 로그인 해주세요!</em></p> 
        {% endif %}
        <a href="?search=true&writer={{user.nickname}}">나의 지도</a>
        <div id = "buttons">
        <button id = "menu" onclick = "show()">나만의 지도</button>
        <button id = "menu">우리의 지도</button>
        <button id = "menu">그들의 지도</button>
        </div>
        <form action="{% url 'myMap' %}" method = "post" id ="form" style = "margin-top: 20px; visibility:hidden">
            {%csrf_token%}
            확인하고 싶은 지도를 선택하세요!: <br>
            <select name="mapList">
                {% for list in lists %}
                    {% if list.author == user.username %}
                    <option value={{list.name}}> {{list.name}}
                {% endif %}
                {% endfor %}
                <option value="add"> 새로운 지도 추가하기
            </select>
            <input type="submit" value="전송">
            <input type="button" value= "취소" onclick = "erase()"/>
	    </form>
        <h1>MAP</h1>
        <div id="map" style="width:100%;height:350px;"></div>

<div id="clickLatlng"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f10335069a4d9c45d697acbf72f5383f
"></script>
<script>

function erase(){
   document.getElementById('form').style.visibility = "hidden"; 
}

function show(){
   document.getElementById('form').style.visibility = "visible"; 
}

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng({{user.lat}}, {{user.lng}}), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 지도를 클릭한 위치에 표출할 마커입니다
var marker = new kakao.maps.Marker({ 
    // 지도 중심좌표에 마커를 생성합니다 
    position: map.getCenter() 
}); 
// 지도에 마커를 표시합니다
marker.setMap(map);


// 지도에 클릭 이벤트를 등록합니다
// 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
    
    //클릭하면 추가하기 뜸
    document.getElementById('button').style.visibility = "visible";
    // 클릭한 위도, 경도 정보를 가져옵니다 
    var latlng = mouseEvent.latLng; 
    
    // 마커 위치를 클릭한 위치로 옮깁니다
    marker.setPosition(latlng);
    
    var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
    message += '경도는 ' + latlng.getLng() + ' 입니다';

    document.getElementById("lati").value = latlng.getLat();
    document.getElementById("long").value = latlng.getLng(); 
    
    var resultDiv = document.getElementById('clickLatlng'); 
    resultDiv.innerHTML = message;

    var positions
        var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35); 
        
        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 

});
</script>
        <div>
            <br>
            <form action="{% url 'new'  %}" method = "post">
            {%csrf_token%}
            <input type="hidden" name="lat" id = "lati" value="위도" >
            <input type="hidden" name="lng" id = "long" value="경도" >
            <button type="submit" id="button" style="visibility:hidden">해당 장소를 추가하겠습니다</button>
            <!--<a href = "{%url 'new' %}" id = "link" style= "visibility:hidden">해당 위치에 장소 추가하기</a>-->
        </div>
        <div class = "container">
            {% for blog in blogs %}
                    <div> 
                    <script>
                        var tmptitle = '{{blog.title}}';
                        var latlng = new kakao.maps.LatLng('{{blog.lat}}','{{blog.lng}}'));
                        var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: latlng, // 마커를 표시할 위치
                        title : tmptitle, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다 
                        });
                        marker.setMap(map);
                        
                        function setMarkers(map) { 
                            for (var i = 0; i < markers.length; i++) { 
                                markers[i].setMap(map); 
                            }             
                        } 
                  
                        function showMarkers() { 
                            setMarkers(map)     
                        } 
                    </script>
                    <h3>[{{blog.title}}]</h3>
                    작성자 : {{blog.writer}}
                    <br>{{blog.summary}} <button type="button" class="btn btn-secondary" onclick = "location.href = '{%url 'detail' blog.id %}'">원문보기</button>
                    </div>
            {% endfor %}
        </div>
        <br>
        {% if blogs.has_previous%}
        <a href = "?page=1">처음</a>
        <a href = "?page={{blogs.previous_page_number}}">이전</a>
        {% endif %}
        <span>{{blogs.number}}</span>
        <span> of </span>
        <span>{{blogs.paginator.num_pages}}</span>
        {% if blogs.has_next%}
        <a href = "?page={{blogs.next_page_number}}">다음</a>
        <a href = "?page={{blogs.paginator.num_pages}}">마지막</a>
        {% endif %}
        
{% endblock %}