{% extends 'base.html'%}

{% block content %}
<h1>Login</h1>
<br>
<form action="{% url 'login'%}" method = "post">
    {%csrf_token%}
    {{ form.non_field_errors }}
    <div class="form-group">

        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}

    </div>
    <br>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Password: </label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <br>
    <button type="submit">Login</button>
</form>
{% endblock %}